// Colors
$white: #ffffff;
$black: #222222;

// Overlays
$image-overlay: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);

// Typography
$untitled: "untitled", "Helvetica", "Roboto", "Arial", sans-serif;

// Font Sizes
$base-font-size: 16px;

// Line height
$base-line-height: 1;

// Font Colors
$base-font-color: $white;