@import 'base';
@import 'vars';

// Mixins
@mixin breakpoint($point) {
  @if $point == small-screen-up {
    @media (min-width: $small-screen) { @content; }
  }
  @else if $point == medium-screen-up {
    @media (min-width: $medium-screen) { @content; }
  }
  @else if $point == large-screen-up {
    @media (min-width: $large-screen) { @content; }
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: inline-block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// Breakpoints

$small-screen: em(400);
$medium-screen: em(700);
$large-screen: em(1100);

// Styles

html {
  min-height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: $untitled;
  font-size: $base-font-size;
  font-weight: normal;
  font-style: normal;
  line-height: $base-line-height;
  color: $base-font-color;
  -webkit-font-smoothing: antialiased;
  background: $white;
}

a {
  border-bottom: 1px solid rgba($black, 0.25);
  padding-bottom: 1px;
  color: $white;
  text-decoration: none;
  box-sizing: border-box;
  @include transition(all 0.3s ease-in-out);
  &:hover {
    border-bottom: 1px solid rgba($black, 1);
  }
}

h1, h2, h3, p, a {
  &::selection {
    background: #000000;
    color: $white;
  }
}

/// Text Styles

.title-1 {
  font-size: 30px;
  line-height: 30px;
  @include breakpoint(medium-screen-up) {
    font-size: 48px;
    line-height: 48px;
  }
  @include breakpoint(large-screen-up) {
    font-size: 64px;
    line-height: 63px;
  }
}

.large {
  font-size: 16px;
  line-height: 26px;
  max-width: 650px;
  @include breakpoint(medium-screen-up) {
    font-size: 22px;
    line-height: 33px;
    max-width: 650px;
  }
}

.regular {
  font-size: 16px;
  line-height: 26px;
  max-width: 650px;
  &.solid {
    line-height: 18px;
  }
  &.center {
    text-align: center;
  }
}

/// Spacing

.mar-top-8 {
  margin-top: 8px;
}

.mar-top-16 {
  margin-top: 16px;
}

.mar-top-24 {
  margin-top: 24px;
}

.mar-top-48 {
  margin-top: 48px;
}

.mar-bot-8 {
  margin-bottom: 8px;
}

.mar-bot-16 {
  margin-bottom: 16px;
}

.mar-bot-24 {
  margin-bottom: 24px;
}

.mar-bot-48 {
  margin-bottom: 48px;
}

.pad-24 {
  padding: 24px;
  box-sizing: border-box;
}

.pad-scale {
  padding: 16px;
  @include breakpoint(medium-screen-up) {
    padding: 24px;
  }
  @include breakpoint(large-screen-up) {
    padding: 48px;
  }
  &.mid {
    padding-top: 0;
  }
}

/// Layout

.split {
  @include breakpoint(large-screen-up) {
    @include display(flex);
    @include flex-wrap(wrap);
    max-width: 1400px;
    margin: 0 auto;
    >* {
      width: 50%;
    }
  }
  &.reverse {
    @include flex-direction(row-reverse);
  }
}

.flx {
  @include display(flex);
  &.flx-a-c {
    @include align-items(center);
  }
  &.flx-a-e {
    @include align-items(flex-end);
  }
  &.flx-j-c {
    @include justify-content(center);
  }
  &.flx-j-e {
    @include justify-content(flex-end);
  }
  &.flx-j-sb {
    @include justify-content(space-between);
  }
  &.flx-d-cl {
    @include flex-direction(column);
  }
}

.flx-as-c {
  @include align-self(center);
}

.max-w {
  max-width: 150px;
  @include breakpoint(medium-screen-up) {
    max-width: 300px;
  }
}

.insta {
  @include breakpoint(medium-screen-up) {
    max-width: 300px;
  }
}

.max-w-small {
  max-width: 150px;
  @include breakpoint(medium-screen-up) {
    max-width: 200px;
  }
}

.circle-up {
  img {
    border-radius: 50%;
  }
}

/// Design

// .loader {
//   color: $black;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   z-index: -10;

//   .container {
//     @include display(flex);
//     @include align-items(center);
//     @include justify-content(center);
//     height: 100%;
//     @include animation(fade-in 2s ease forwards);
//   }
// }

.page-container {
  background: $black;
  opacity: 0;
  @include animation(fade-in 1.5s 1.25s ease-in forwards);
}

.section {
  &.full {
    padding: 24px;
    box-sizing: border-box;
    text-align: center;
    @include breakpoint(medium-screen-up) {
      height: 1100px;
    }
    .content {
      box-sizing: border-box;
      @include breakpoint(medium-screen-up) {
        padding: 48px;
        height: 100%;
      }
    }
    a {
      border-bottom: 1px solid rgba($white, 0.25);
      &:hover {
        border-bottom: 1px solid rgba($white, 1);
      }
    }
    .years {
      .vertical-rule {
        background: $white;
        height: 100px;
        width: 1px;
      }
    }
    &.deeplocal, &.end {
      background: #000000;
    }
    &.deeplocal {
      background-image: url('../../imgs/projects/ephemera/deeplocal-bg.svg');
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      @include breakpoint(large-screen-up) {
        opacity: 0;
        @include animation(fade-in 1s 3.75s ease-in forwards);
      }
    }
    &.maya {
      background: $white;
      color: $black;
      background-image: url('../../imgs/projects/ephemera/maya-bg.svg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      .vertical-rule {
        background: $black;
      }
      a {
        color: $black;
        border-bottom: 1px solid rgba($black, 0.25);
        &:hover {
          border-bottom: 1px solid rgba($black, 1);
        }
      }
    }
  }
  .page {
    background: $white;
    color: $black;
    line-height: 0;
    position: relative;
    @include breakpoint(medium-screen-up) {
      @include aspect-ratio(3, 4);
    }
    &.ratio {
      @include aspect-ratio(3, 4);
    }
    &.bg-black {
      background: #000000;
    }
    .content {
      &.pad-24 {
        box-sizing: border-box;
        @include breakpoint(medium-screen-up) {
          padding: 48px;
        }
      }
      a {
        border-bottom: 1px solid rgba($black, 0.25);
        color: $black;
        &:hover {
          border-bottom: 1px solid rgba($black, 1);
        }
      }
      &.intro-1 {
        opacity: 0;
        @include animation(fade-in 1s 2.5s ease-in forwards);
        @include breakpoint(large-screen-up) {
          opacity: 0;
          @include animation(fade-in 1s 2.5s ease-in forwards);
        }
      }
      &.intro-2 {
        opacity: 0;
        @include animation(fade-in 1s 3s ease-in forwards);
        @include breakpoint(large-screen-up) {
          opacity: 0;
          @include animation(fade-in 1s 3s ease-in forwards);
        }
      }
    }
    .horizontal-rule {
      width: 100%;
      background: $white;
      height: 1px;
    }
    .image {
      line-height: 0;
      width: 100%;
      img {
        width: 100%;
      }
    }
    video {
      width: 100%;
    }
    .video-wrapper {
      height: 0;
      overflow: hidden;
      padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
      position: relative;
      embed,
      object,
      iframe {
        @include position(absolute, 0 null null 0);
        @include size(100%);
      }
    }
    .overlay {
      position: absolute;
      color: $white;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      line-height: 0;
      a {
        border-bottom: 1px solid rgba($white, 0.25);
        color: $white;
        &:hover {
          border-bottom: 1px solid rgba($white, 1);
        }
      }
      &.photo-fill {
        background: $image-overlay;
      }
      &.black-text {
        color: $black;
        a {
          border-bottom: 1px solid rgba($black, 0.25);
          color: $black;
          &:hover {
            border-bottom: 1px solid rgba($black, 1);
          }
        }
      }
    }
  }
}

/// Animations

@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}











