/* RESET http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "untitled";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/UntitledSansWeb-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/UntitledSansWeb-Regular.woff2") format("woff2"), url("../fonts/UntitledSansWeb-Regular.woff") format("woff"); }
html {
  min-height: 100%;
  width: 100%; }

body {
  width: 100%;
  height: 100%;
  font-family: "untitled", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  background: #ffffff; }

a {
  border-bottom: 1px solid rgba(34, 34, 34, 0.25);
  padding-bottom: 1px;
  color: #ffffff;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  a:hover {
    border-bottom: 1px solid #222222; }

h1::selection, h2::selection, h3::selection, p::selection, a::selection {
  background: #000000;
  color: #ffffff; }

.title-1 {
  font-size: 30px;
  line-height: 30px; }
  @media (min-width: 43.75em) {
    .title-1 {
      font-size: 48px;
      line-height: 48px; } }
  @media (min-width: 68.75em) {
    .title-1 {
      font-size: 64px;
      line-height: 63px; } }

.large {
  font-size: 16px;
  line-height: 26px;
  max-width: 650px; }
  @media (min-width: 43.75em) {
    .large {
      font-size: 22px;
      line-height: 33px;
      max-width: 650px; } }

.regular {
  font-size: 16px;
  line-height: 26px;
  max-width: 650px; }
  .regular.solid {
    line-height: 18px; }
  .regular.center {
    text-align: center; }

.mar-top-8 {
  margin-top: 8px; }

.mar-top-16 {
  margin-top: 16px; }

.mar-top-24 {
  margin-top: 24px; }

.mar-top-48 {
  margin-top: 48px; }

.mar-bot-8 {
  margin-bottom: 8px; }

.mar-bot-16 {
  margin-bottom: 16px; }

.mar-bot-24 {
  margin-bottom: 24px; }

.mar-bot-48 {
  margin-bottom: 48px; }

.pad-24 {
  padding: 24px;
  box-sizing: border-box; }

.pad-scale {
  padding: 16px; }
  @media (min-width: 43.75em) {
    .pad-scale {
      padding: 24px; } }
  @media (min-width: 68.75em) {
    .pad-scale {
      padding: 48px; } }
  .pad-scale.mid {
    padding-top: 0; }

@media (min-width: 68.75em) {
  .split {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto; }
    .split > * {
      width: 50%; } }
.split.reverse {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-direction: row-reverse; }

.flx {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .flx.flx-a-c {
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
  .flx.flx-a-e {
    -webkit-box-align: end;
    -moz-box-align: end;
    box-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -ms-flex-align: end; }
  .flx.flx-j-c {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
  .flx.flx-j-e {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end; }
  .flx.flx-j-sb {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify; }
  .flx.flx-d-cl {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column; }

.flx-as-c {
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center; }

.max-w {
  max-width: 150px; }
  @media (min-width: 43.75em) {
    .max-w {
      max-width: 300px; } }

@media (min-width: 43.75em) {
  .insta {
    max-width: 300px; } }

.max-w-small {
  max-width: 150px; }
  @media (min-width: 43.75em) {
    .max-w-small {
      max-width: 200px; } }

.circle-up img {
  border-radius: 50%; }

.loader {
  color: #222222;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10; }
  .loader .container {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    height: 100%;
    -webkit-animation: fade-in 1s ease-in forwards;
    -moz-animation: fade-in 1s ease-in forwards;
    animation: fade-in 1s ease-in forwards; }

.page-container {
  background: #222222;
  opacity: 0;
  -webkit-animation: fade-in 1.5s 1.25s ease-in forwards;
  -moz-animation: fade-in 1.5s 1.25s ease-in forwards;
  animation: fade-in 1.5s 1.25s ease-in forwards; }
  @media (min-width: 68.75em) {
    .page-container {
      background: #222222;
      opacity: 0;
      -webkit-animation: fade-in 1.5s 1.25s ease-in forwards;
      -moz-animation: fade-in 1.5s 1.25s ease-in forwards;
      animation: fade-in 1.5s 1.25s ease-in forwards; } }

.section.full {
  padding: 24px;
  box-sizing: border-box;
  text-align: center; }
  @media (min-width: 43.75em) {
    .section.full {
      height: 1100px; } }
  .section.full .content {
    box-sizing: border-box; }
    @media (min-width: 43.75em) {
      .section.full .content {
        padding: 48px;
        height: 100%; } }
  .section.full a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
    .section.full a:hover {
      border-bottom: 1px solid white; }
  .section.full .years .vertical-rule {
    background: #ffffff;
    height: 100px;
    width: 1px; }
  .section.full.deeplocal, .section.full.end {
    background: #000000; }
  .section.full.deeplocal {
    background-image: url("../../imgs/projects/ephemera/deeplocal-bg.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat; }
    @media (min-width: 68.75em) {
      .section.full.deeplocal {
        opacity: 0;
        -webkit-animation: fade-in 1s 3.75s ease-in forwards;
        -moz-animation: fade-in 1s 3.75s ease-in forwards;
        animation: fade-in 1s 3.75s ease-in forwards; } }
  .section.full.maya {
    background: #ffffff;
    color: #222222;
    background-image: url("../../imgs/projects/ephemera/maya-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .section.full.maya .vertical-rule {
      background: #222222; }
    .section.full.maya a {
      color: #222222;
      border-bottom: 1px solid rgba(34, 34, 34, 0.25); }
      .section.full.maya a:hover {
        border-bottom: 1px solid #222222; }
.section .page {
  background: #ffffff;
  color: #222222;
  line-height: 0;
  position: relative; }
  @media (min-width: 43.75em) {
    .section .page {
      position: relative; }
      .section .page:before {
        display: inline-block;
        content: "";
        width: 100%;
        padding-top: 133.33333%; }
      .section .page > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }
  .section .page.ratio {
    position: relative; }
    .section .page.ratio:before {
      display: inline-block;
      content: "";
      width: 100%;
      padding-top: 133.33333%; }
    .section .page.ratio > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  .section .page.bg-black {
    background: #000000; }
  .section .page .content.pad-24 {
    box-sizing: border-box; }
    @media (min-width: 43.75em) {
      .section .page .content.pad-24 {
        padding: 48px; } }
  .section .page .content a {
    border-bottom: 1px solid rgba(34, 34, 34, 0.25);
    color: #222222; }
    .section .page .content a:hover {
      border-bottom: 1px solid #222222; }
  .section .page .content.intro-1 {
    opacity: 0;
    -webkit-animation: fade-in 1s 2.5s ease-in forwards;
    -moz-animation: fade-in 1s 2.5s ease-in forwards;
    animation: fade-in 1s 2.5s ease-in forwards; }
    @media (min-width: 68.75em) {
      .section .page .content.intro-1 {
        opacity: 0;
        -webkit-animation: fade-in 1s 2.5s ease-in forwards;
        -moz-animation: fade-in 1s 2.5s ease-in forwards;
        animation: fade-in 1s 2.5s ease-in forwards; } }
  .section .page .content.intro-2 {
    opacity: 0;
    -webkit-animation: fade-in 1s 3s ease-in forwards;
    -moz-animation: fade-in 1s 3s ease-in forwards;
    animation: fade-in 1s 3s ease-in forwards; }
    @media (min-width: 68.75em) {
      .section .page .content.intro-2 {
        opacity: 0;
        -webkit-animation: fade-in 1s 3s ease-in forwards;
        -moz-animation: fade-in 1s 3s ease-in forwards;
        animation: fade-in 1s 3s ease-in forwards; } }
  .section .page .horizontal-rule {
    width: 100%;
    background: #ffffff;
    height: 1px; }
  .section .page .image {
    line-height: 0;
    width: 100%; }
    .section .page .image img {
      width: 100%; }
  .section .page video {
    width: 100%; }
  .section .page .video-wrapper {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative; }
    .section .page .video-wrapper embed,
    .section .page .video-wrapper object,
    .section .page .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
  .section .page .overlay {
    position: absolute;
    color: #ffffff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    line-height: 0; }
    .section .page .overlay a {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      color: #ffffff; }
      .section .page .overlay a:hover {
        border-bottom: 1px solid white; }
    .section .page .overlay.photo-fill {
      background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.2) 100%); }
    .section .page .overlay.black-text {
      color: #222222; }
      .section .page .overlay.black-text a {
        border-bottom: 1px solid rgba(34, 34, 34, 0.25);
        color: #222222; }
        .section .page .overlay.black-text a:hover {
          border-bottom: 1px solid #222222; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=main.css.map */
